$white:					#fff;

$blue:					#007ee5;

$silver-blue:			#d0dce7;

$alice-blue:			#F5F8F9;

$grey:					#a8b8c4;
$grey-dark:				#727e88;
$grey-light:			#eee;

$arsenic:				#3f454a;

$color-background:		$alice-blue;