%font-light 	{font-weight: 300;}
%font-regular 	{font-weight: 400;}
%font-bold 		{font-weight: 600;}

$font-content:	"Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;

@import "../modules/all";