html {
  position: relative;
  min-height: 100%;
}

body {
	margin-bottom: 3rem;
	font-family: $font-content;

	&.bg-image {
		@include media-breakpoint-up(sm) {
			background: url('../img/fullscreen_bg_image.jpg') center no-repeat fixed;
			background-size: cover;
			padding-left: 3%;
			padding-right: 3%;
		}
	}

	&.bg-color {
		background: $color-background;
	}
}

.hide {
	display: none;
}

/* ==========================================================================
	LOGIN
========================================================================== */

.login-box {
	background: $white;
	border-radius: 4px;

	@include media-breakpoint-up(sm) {
		text-align: center;
		box-shadow: 0px 0px 16px 0px rgba(58,75,93,0.27);
		margin: 9.4% auto;
		max-width: 503px;
		padding: 2.5rem 3rem 2.4rem;
	}

	@include media-breakpoint-down(sm) {
		margin-top: 1.75rem;
		padding: 2rem 3.5rem 2.4rem;
	}
}

.login-box__head {
	padding: 0.5rem 0 1.7rem;
	margin-bottom: 3.5rem;

	@include media-breakpoint-up(sm) {
		border-bottom: 1px solid $silver-blue;
	}

	h1 {
		color: #333;
		text-align: center;
		font-size: 24px;
	}
}

.login-box__body {
	p {
		color: $grey;
		font-size: 14px;
		line-height: 1.571;
		@extend %font-light;

		@include media-breakpoint-up(sm) {
			max-width: 90%;
			margin: -1.2rem auto 0;
		}

		@include media-breakpoint-down(sm) {
			margin-top: -0.75rem;
		}

		a {
			color: $blue;
		}
	}
}

.login-box__footer {
	.btn {
		text-transform: uppercase;
		background: $blue;
		font-weight: 600;
		color: $white;
		font-size: 14px;
		padding: 0.8rem;
		margin-top: 1.95rem;
		cursor: pointer;
		@extend %transition-2;

		@include media-breakpoint-up(sm) {
			&:after,
			&:before {
				display: inline-block;
				font-size: 22px;
				font-weight: 400;
				position: absolute;
				content: '›';
				opacity: 0;
				margin-top: -0.48rem;
				margin-left: -0.5rem;
			}

			&:hover {
				padding-right: 1.5rem;

				&:after {
					opacity: 1;
					padding-left: 1.25rem;
				}
			}
		}

		@include media-breakpoint-down(xs) {
			position: absolute;
			bottom: 0;
			left: 0;
			border-radius: 0;
			display: block;
			height: 3rem;
		}
	}
}

/* ==========================================================================
	PROFILE DESKTOP
========================================================================== */

.block {
	margin: 0 auto;
	width: 1169px;
	max-width: 100%;
	padding: 1.5rem 1.5rem 0;
	position: relative;

	@include media-breakpoint-up(md) {
		margin-top: 2rem;
		background: $white;

		&:first-child {
			margin-top: 5%;
		}
	}
}

/* Profile Head
========================================================================== */

.profile__head {
	.btn-blue-outline {
		position: absolute;
		right: 1.5rem;
		top: 1.5rem;
	}

	.btn-link {
		padding: 0;
		position: absolute;
		right: 1rem;
		top: 1.5rem;
		color: $blue;
	}

	.btn-upload {
		margin-top: 3rem;
		margin-bottom: -3.5rem;
		color: $grey-dark;
		border-color: $silver-blue;
		font-size: 15px;
		padding: 0.25rem 1.1rem;

		.icon {
			font-size: 26px;
			color: $silver-blue;
			margin-right: 1rem;
			vertical-align: middle;
		}
	}
}

.profile__head__avatar {
	position: relative;
	overflow: hidden;
	box-shadow: 0px 0px 24px 0px rgba(189,196,201,0.7);
	z-index: 1;

	img {
	    position: absolute;
	    margin: 0 auto;
	    width: auto;
		@extend %transition-3;

	    &:hover {
	    	opacity: 0.7;
	    }
	}

	@include media-breakpoint-up(sm) {
		width: 171px;
		height: 171px;
		display: inline-block;
		bottom: -3.5rem;

		img {
			height: 150%;
		    left: -50%;
		}
	}

	@include media-breakpoint-down(sm) {
		width: 128px;
		height: 128px;
		display: block;
		bottom: 0;
		margin: 0 auto;
		margin-bottom: 1rem;
		margin-top: 20%;

		img {
			height: 200%;
			left: -90%;
		}
	}
}

.profile__head__info {
	h1.name {
		font-size: 20px;
		color: $arsenic;
		margin-bottom: 0.7rem;
	}

	h2.info {
		font-size: 14px;
		color: $arsenic;
		margin-bottom: 0.6rem;

		.icon {
			font-size: 20px;
			vertical-align: middle;
			color: $arsenic;
			opacity: 0.7;
			margin-right: 0.55rem;
		}
	}

	@include media-breakpoint-up(md) {
		display: inline-block;
		margin-left: 1.5rem;

		.profile__head__info__list {
			margin-bottom: 2rem;
		}
	}

	@include media-breakpoint-down(sm) {
		.profile__head__info__list {
			display: table;

			h2.info:first-child {
				display: table-footer-group;
				line-height: 1.75rem;
			}

			h2.info:last-child {
				display: table-header-group;
			}
		}

		h1.name {
			text-align: center;
			margin-bottom: 1rem;
		}

		h2.info {
			font-size: 12px;
			color: rgba($arsenic,0.8);
		}
	}
}

.profile__head__ratings {
	a {
		color: $grey-dark;
		font-size: 13px;
		text-decoration: none;
		@extend %transition-2;

		&:hover {
			opacity: 0.7 !important;
		}

		.icon {
			font-size: 24px;
			vertical-align: bottom;
			margin-right: 0.2rem;
		}

		.number {
			margin-right: 0.5rem;
		}
	}

	@include media-breakpoint-up(md) {
		top: 8.5rem;
		position: absolute;
		right: -1rem;

		.number {
			margin-left: 1rem;
		}

		.stars {
			position: relative;
			right: 8rem;
		}

		.reviews {
			position: relative;
			top: -1.6rem;
		}
	}

	@include media-breakpoint-down(sm) {
		a {
			color: rgba($arsenic,0.8);

			.icon {
				color: $blue;
			}

			.number {
				font-size: 14px;
				color: $arsenic;
			}

			.reviews {
				display: block;
			}
		}
	}
}

/* Profile Tabs
========================================================================== */

.profile__head--shadow {
	box-shadow: 0px 1px 6px 0px rgba(114,126,136,0.28);
	padding-bottom: 0;

	@include media-breakpoint-up(md) {
		margin-top: -1.2rem;
		padding-top: 1rem;
		margin-bottom: 2.5rem;
	}

	@include media-breakpoint-down(sm) {
		margin-top: 3.75rem;
		background: $white;
		height: 3.5rem;
		padding-left: 1.5rem;
		padding-top: 0;
	}
}

.profile__head__tabs {
	ul.nav {
		border: none;
	}

	li.nav-item {
		text-transform: uppercase;
		font-size: 15px;
	}

	a.nav-link {
		color: $arsenic;
		margin-right: 1.25rem;
		cursor: pointer;
		text-decoration: none;
		display: block;
		height: 2.6rem;
		padding: 0;
		border: none !important;
		background: transparent !important;
	}

	@include media-breakpoint-up(md) {
		padding-left: 1.55rem;
		left: 200px;

		ul.nav {
			margin-left: 10.8rem;
		}

		li.nav-item {
			margin-right: 0.5rem;
		}

		a.nav-link {
			&:hover,
			&.active {
				box-shadow: inset 0 -0.15rem 0 0 $blue;
			}
		}
	}

	@include media-breakpoint-down(sm) {
		ul.nav {
		    display: block;
		    overflow-x: scroll;
		    overflow-y: hidden;
		    white-space: nowrap;
		    -ms-overflow-style: none;

		    &::-webkit-scrollbar {
		    	display: none;
		    }

			&:before {
				content:'';
				height: 100%;
				width: 10%;
				display:inline-block;
				position: absolute;
				left: 0;
				background: rgba($white,1);
				background: linear-gradient(to right, rgba($white,1) 0%, rgba($white,0) 100%);
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=1 );
			}

			&:after {
				content:'';
				height: 100%;
				width: 20%;
				display:inline-block;
				position: absolute;
				right: 0;
				background: rgba($white,1);
				background: linear-gradient(to left, rgba($white,1) 0%, rgba($white,0) 100%);
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=1 );
			}
		}

		li.nav-item {
		    display: inline-block;
		    margin-left: 0.25rem;
		    margin-right: 0.25rem;
		    padding-top: 1rem;
		    z-index: 2;
		    
		    /* if you need ie7 support */
		    *display: inline;
		    zoom: 1;
		}

		a.nav-link {
			&:hover,
			&.active {
				box-shadow: inset 0 -0.2rem 0 0 $blue;
			}
		}
	}

	.followers {
		position: absolute;

		a {
			color: #a6b0b7;
			text-decoration: none;
			font-size: 13px;
			@extend %transition-2;

			&:hover {
				opacity: 0.7;
			}

			.icon {
				font-size: 28px;
				vertical-align: bottom;
				margin-right: 1rem;
			    position: absolute;
			}

			.number {
				color: $arsenic;
				font-size: 14px;
				margin-right: 0.25rem;
			}
		}

		@include media-breakpoint-up(md) {
			right: 1.5rem;
			top: 0.3rem;
			margin-top: 0.5rem;

			a {
				.icon {
					left: -2.25rem;
					top: -0.5rem;
				}
			}
		}

		@media (max-width: 820px) {
			top: -3rem;
		}

		@include media-breakpoint-down(sm) {
			top: -3rem;

			a {
				margin-left: 2.25rem;

				.icon {
					left: 0;
					top: -0.5rem;
				}
			}
		}
	}
}

/* Profile Main Block
========================================================================== */

.profile__main {
	background: $white;
	margin-top: 1rem;
	margin-bottom: 7.5%;

	.tab-pane {
		.btn-pencil,
		.button-group {
			position: absolute;
			right: 1.5rem;
			top: 1.5rem;

			.btn-action {
				padding: 0;
				margin-left: 1.5rem;
				text-transform: uppercase;
				color: $blue;
				font-size: 14px;
				margin-top: -0.75rem;
			}
		}

		.moving-placeholder {
			margin-bottom: 2rem;

			&.last-one {
				margin-bottom: 1rem;
			}

			@include media-breakpoint-up(md) {
				max-width: 250px;
			}
		}

		.hidden-form {
			display: none;
		}

		.show-form {
			margin-top: 2.25rem;

			.btn-blue {
				margin-top: 1rem;
			}
		}
	}

	h1 {
		color: $grey-dark;
		@extend %font-light;
	}

	h1 + .profile__main__info .profile__main__info__field {
		font-weight: 600;
		font-size: 16px;

		a {
			margin-left: 0.75rem;
		}
	}

	a {
		h1,h2,h3 {
			@extend %transition-2;
		}
	}

	@include media-breakpoint-up(md) {
		box-shadow: 0px 1px 6px 0px rgba(114,126,136,0.28);
		padding: 3rem 2.5rem;
		height: 616px;

		h1 {
			font-size: 24px;
			margin-bottom: 2.5rem;
		}		
	}

	@include media-breakpoint-down(sm) {
		border-top: 1px solid $silver-blue;
		border-bottom: 1px solid $silver-blue;
		padding: 1.5rem 1.5rem 0.75rem;
		height: 100%;

		h1 {
			font-size: 20px;
			margin-bottom: 1.25rem;
		}

		.btn-pencil {
			position: absolute;
			right: 1.5rem;
			top: 0;
			border-radius: 0;
			padding: 0.1rem 0.5rem;
			background: #ecf1f5;
			color: $grey-dark;

			&:hover {
				background: darken(#ecf1f5, 5%);
				color: darken($grey-dark, 5%);
			}
		}

		h2 {
			font-size: 16px;
			color: $arsenic;
			margin-bottom: 0.75rem;

			&.info {
				color: $arsenic;
				font-size: 14px;
				margin-bottom: 1rem;

				.icon {
					color: $grey;
					margin-right: 0.5rem;
					font-size: 18px;
				}
			}
		}

		h3 {
			font-size: 14px;
			color: $grey-dark;
			margin-bottom: 1.25rem;
		}

		a {
			text-decoration: none;

			h1,h2,h3 {
				&:hover {
					opacity: 0.7 !important;
				}
			}
		}

		form {
			margin-top: 1rem;
		}
	}
}

.profile__main__info {
	margin-bottom: 0.1rem;
}

.profile__main__info__field {
	background: #f5f8f8;
	color: $arsenic;
	font-size: 14px;
	display: inline-block;
	text-align: center;
	@extend %font-light;
	padding-left: 0.5rem;

	.icon {
		color: $grey;
		margin-right: 0.5rem;

		&.icon-globe {
			font-size: 18px;
		}

		&.icon-phone,
		&.icon-home {
			font-size: 20px;
		}
	}

	a {
		background: #ecf1f5;
		display: inline-block;
		width: 2.75rem;
		height: 2.5rem;
		font-size: 20px;
		padding-left: 0.5rem;
		padding-top: 0.3rem;
		text-align: center;
		margin-left: 1.25rem;
		cursor: pointer;
		@extend %transition-1;
		vertical-align: middle;

		.icon {
			color: $grey-dark;
		}

		&:hover,
		&:active,
		&:focus {
			background: $blue;

			.icon {
				color: $white;
			}
		}
	}
}

/* ==========================================================================
	POPOVER
========================================================================== */

.popover.bs-tether-element-attached-left {
	margin-left: -2.75rem !important;
}

.popover.popover-right::before,
.popover.bs-tether-element-attached-left::before {
	border: none;
}

.popover {
	border: none !important;
	width: 298px;
	box-shadow: 0px 0px 25px 0px rgb( 189, 196, 201 );

	.moving-placeholder {
		margin-top: 1.5rem;
		margin-bottom: 0.75rem;
	}

	.btn {
		margin-top: 0.5rem;
		margin-bottom: 1rem;
		margin-right: 1rem;
	}
}

/* ==========================================================================
	BUTTONS
========================================================================== */

.btn {
	cursor: pointer;
	@extend %transition-2;
}

.btn-sm {
	text-transform: uppercase;
	font-weight: 600 !important;
	padding: 0.5rem 1.1rem !important;
	width: 6rem;
	font-size: 12px !important;
}

.btn-blue {
	color: $white !important;
	background: $blue !important;

	&:hover,
	&:active,
	&:focus {
		background: darken($blue, 10%) !important;
	}
}

.btn-blue-outline {
	color: $blue !important;
	background: $white !important;
	border-color: $blue !important;

	&:hover,
	&:active,
	&:focus {
		background: lighten($blue, 50%) !important;
	}
}
